<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Task</h1>
	<div>
		<form th:object="${task}" th:action="@{save}" action="#" method="post">
		  	<label for="taskName">task name</label>
			<input type="text" id="taskName" th:field="*{taskName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="taskCreator">task creator</label>
			<input type="text" id="taskCreator" th:field="*{taskCreator}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="catlist">Category</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="cat: ${categories}" th:value="${cat.categoryid}" th:text="${cat.name}"></option>
    		</select>
			
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>