<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Tasklist</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Tasklist</h1>

	<div sec:authorize="isAnonymous()"> 
		<h3 th:inline="text">Not signed in</h3>
		<form th:action="@{/login}" method="get">
			<input type="submit" value="Log In" class="btn btn-sm "/>
		</form>
	</div>

	<form sec:authorize="hasAuthority('ADMIN', 'user')" th:action="@{/logout}" method="post">
	<input type="submit" value="log out"/>
	</form>
	
	<div>
	<h3 th:inline="text"> welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	
	

		<table class="table table-striped" >
		<thead>
		<tr>
		<th> Task </th>
		<th> Creator </th>
		<th> Task category </th>
		
		<tbody>
		<tr th:each = "task : ${tasks}">
		<td th:text="${task.taskName}"> </td>
		<td th:text="${task.taskCreator}"> </td>
		<td th:text="${task.category.name}"> </td>
	
		<td sec:authorize="hasAuthority('ADMIN')"> <a class="btn btn-danger" th:href="@{/delete/{id}(id=${task.id})}">Delete</a> </td>
		</tr>
		
		
		</tbody>
		</table>
		
		<a class="btn btn-success" href="/add" > add new task </a>
		<a class="btn btn-success" sec:authorize="hasAuthority('ADMIN')" href="/categorylist" > manage categories </a>
		

</body>

</html>